---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find the full list of my publications on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}






<!-- ========================= -->
<!-- Poster Presentations Section -->
<!-- ========================= -->
<h2>Poster Presentations</h2>
<hr />

<ul class="poster-list">
  <li>
    <strong>Title:</strong> Poster One Title<br />
    <strong>Authors:</strong> Mahdi Rahimi, Co-author<br />
    <strong>Event/Date:</strong> Conference ABC, 2024-12-10<br />
    <a href="http://yourwebsite.github.io/files/poster1.pdf" target="_blank">Download Poster PDF</a>
  </li>
  <li>
    <strong>Title:</strong> Poster Two Title<br />
    <strong>Authors:</strong> Mahdi Rahimi, Co-author<br />
    <strong>Event/Date:</strong> Conference XYZ, 2025-02-18<br />
    <a href="http://yourwebsite.github.io/files/poster2.pdf" target="_blank">Download Poster PDF</a>
  </li>
  <li>
    <strong>Title:</strong> Poster Three Title<br />
    <strong>Authors:</strong> Mahdi Rahimi, Co-author<br />
    <strong>Event/Date:</strong> Workshop 123, 2025-06-05<br />
    <a href="http://yourwebsite.github.io/files/poster3.pdf" target="_blank">Download Poster PDF</a>
  </li>
</ul>


