---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find the full list of my publications on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}






<!-- ========================= -->
<!-- Poster Presentations Section -->
<!-- ========================= -->
<h2>Poster Presentations</h2>
<hr />

<ul class="poster-list">
  <li>
    <strong>Title:</strong> Enhancing Applicability of Mix Networks <br />
    <strong>Authors:</strong> Mahdi Rahimi<br />
    <strong>Event/Date:</strong> KU Leuven, ESAT (External Advisory Board Meeting), 2026-2-5<br />
    <a href="http://mmaahhddii1995.github.io/files/poster_mahdi_Feb_2026.pdf" target="_blank">Download Poster PDF</a>
  </li>
    <li>
    <strong>Title:</strong> Enhancing Applicability of Mix Networks <br />
    <strong>Authors:</strong> Mahdi Rahimi<br />
    <strong>Event/Date:</strong> KU Leuven, ESAT (Cybersecurity Initiative Flanders Review Meeting), 2025-10-23<br />
    <a href="http://mmaahhddii1995.github.io/files/poster_oct.pdf" target="_blank">Download Poster PDF</a>
  </li>
  <li>
    <strong>Title:</strong> Effect of Mixing Process on End-to-End Latency in Mix Networks<br />
    <strong>Authors:</strong> Mahdi Rahimi<br />
    <strong>Event/Date:</strong> CANS 24, 2024-09-25<br />
    <a href="http://mmaahhddii1995.github.io/files/Poster_CANS_24-merged.pdf" target="_blank">Download Poster PDF</a>
  </li>
  <li>
    <strong>Title:</strong> CLAM: Client-Aware Routing in Mix Networks<br />
    <strong>Authors:</strong> Mahdi Rahimi<br />
    <strong>Event/Date:</strong> PETS 24, 2024-07-17<br />
    <a href="http://mmaahhddii1995.github.io/files/file-merged.pdf" target="_blank">Download Poster PDF</a>
  </li>
</ul>


